
$bg-theme-light: #F6F8FB;
$color-theme-light: #2C2F33;


$bg-theme-dark: #2C2F33;
$color-theme-dark: #F6F8FB;

* {
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    background-color: #F6F8FB;
    color: $color-theme-light;
}
.text-center {
    text-align: center;
}

.content-box {
    margin: 0 auto 0 auto;
    color: $color-theme-light;
    border-radius: 8px;
    max-width: 40px;

    h3 {
        line-height: 1.2;
        margin: 0;
        font-size: 26px;
    }

    h5 {
        line-height: 1.5;
        margin: 0 0 20px 0;
        font-size: 20px;
    }
}

.theme-switcher-wrap {

    width: 100%;
    text-align: right;

    .theme-switcher {
        padding-top: 20px;
        display: inline-block;
        cursor: pointer; 

        .switch-path {
            width: 40px;
            height: 20px;
            border-radius: 10px;
            background-color: #2C2F33;

            .switch-handle {
                background-color: #5865F2;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                transition: all 0.3s ease-in-out;
            }

        }
    &.active {
        .switch-path {
            background-color: #cfcfcf;
        }
        .switch-handle {
            transform: translateX(20px);
            background-color: #5865F2;
        }
    }

    }
}


// themeing
#app.theme-dark {
    background-color: $bg-theme-dark;
    color: $color-theme-dark;
    .content-box {
        h3, h5 {
            color: #2C2F33;
        }
        p {
            color: #2C2F33;
        }
    }
    .links {
        a {
            color: #FFFFFF;
        }
    }
}
h2 {font-weight:bold}
h3 {font-weight:bold; font-style:italic}

.col {
    border-radius:30px;
  }
  
  .row {
    background: none;
  }
  
  .bg {
    background-color: #EFF0FF;
  }
  
  .wanbottom {
    margin: 0px 20px 20px 0px;
  }
  
  .wanright {
    margin: 0px 20px 0px 0px;
  }

  .bgp {
    background-color: #7289DA
  }
 

