.navbar_main {
    position: fixed;
    background-color: #7289DA;
    transition: 200ms ease;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%
    
}

.nav-item {
    width: 100%
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: black;
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: #6479c5;
    color: black;
}

.link-text {
    display: none;
    font-weight: bold;
}

.nav-link i {
    min-width: 2rem;
    margin: 0 1.5rem
}

.nav-link svg {
    min-width: 2rem;
    margin: 0 1.5rem
}



@media only screen and (max-width: 768px) {
    .navbar_main {
        bottom:0;
        width: 100vw;
        height: 5rem;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }
    
    main {
        margin: 0;
    }

}


@media only screen and (min-width: 768px) {
    .navbar_main {
        top:0;
        width: 5rem;
        height: 100vh;
    }

    .navbar_main:hover{ 
        width: 13rem;
        filter: opacity(90%)
    }

    .navbar_main:hover .link-text{
        display: inline;
        transition: opacity var(--transition-speed)
    }

    .navbar_main:hover .link-text{
        display: block;
    }

    .navbar_main:hover {
        width: 13rem;
    }
}